<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      {% for link in site.navigation %}
        {% if link.header %}
          <li class="nav-header">{{ link.header}}</li>
        {% else %}
          {% assign active = nil %}
          {% if page.url == link.url %}
            {% assign active = 'active' %}
          {% endif %}
          <li class="{{ active }} ">
            <a href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>